<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styleSheets/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="flex flex-col h-screen bg-gray-900 text-white ">
        <a class="m-4"href="/read">Read Users</a>
        <h1 class="text-white text-[40px] m-4 " >Update User</h1>
        <form action="/update/<%=users._id%>" method="post" class="m-4">
            <input type="text" name="name" value="<%= users.name%>"" placeholder="Enter your name" class="border-2 border-gray-300 rounded-md p-2 mb-4">
            <input type="text" name="email" value="<%= users.email%>" placeholder="Enter your email" class="border-2 border-gray-300 rounded-md p-2 mb-4">
            <input type="text" name="phone" value="<%= users.phone%>" placeholder="Enter your phone number" class="border-2 border-gray-300 rounded-md p-2 mb-4">
            <input type="submit" value="Update User" class="border-2  border-gray-300 bg-yellow-700 rounded-md p-2 mb-4">
        </form>
    </div>
</body>
</html>